#!/bin/bash
#
# Environment configuration default values
#
export GORFLINK_DEBUG="true"
export PUBLISH_HOST="localhost:1883"
export PUBLISH_SCHEME=tcp
export PUBLISH_MQTTUSERNAME=username
export PUBLISH_MQTTPASSWORD=password
export PUBLISH_PROTOCOLVERSION=4
export PUBLISH_INFINITYRECONNECT="true"
export PUBLISH_CLIENTID=gorflink
export PUBLISH_TOPIC=rflink
export SERIAL_DEVICE=/dev/ttyUSB0
export SERIAL_BAUD=57600
