#!/bin/bash
#
# Environment configuration default values
#
export GORFLINK_DEBUG="true"
export PUBLISH_HOST="localhost:1883"
export PUBLISH_SCHEME=tcp
export PUBLISH_MQTTUSERNAME=username
export PUBLISH_MQTTPASSWORD=password
export PUBLISH_PROTOCOLVERSION=4
export PUBLISH_INFINITYRECONNECT="true"
export PUBLISH_CLIENTID=gorflink
export PUBLISH_TOPIC=rflink
export SERIAL_DEVICE=/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller_D-if00-port0
export SERIAL_BAUD=115200
